{% include 'top.html' %}
<div class="content">
    <div class="container details">
        <h1 class="title">Model: {{model_info.manufacturer}}-{{model_info.model_number}}</h1>
        <table>
            <tr>
                <td>Manufacturer</td>
                <td>{{model_info.manufacturer}}</td>
            </tr>
            <tr>
                <td>Model Number</td>
                <td>{{model_info.model_number}}</td>
            </tr>
            <tr>
                <td>Description</td>
                <td>{{model_info.description}}</td>
            </tr>
            <tr>
                <td>Weight</td>
                <td>{{model_info.weight}}</td>
            </tr>
        </table>
    </div>
</div>
{% include 'bottom.html' %}
