{% include 'top.html' %}

<div class="content">
    <div class="container">
        <h1 class="title">Remove Employee</h1>

        <form class="newbooking pure-form pure-form-aligned" method="POST" action="{{url_for('remove_employee')}}">
            <div class="pure-control-group">
                <label for="empid"> Employee ID: </label>
                <select name="empid" placeholder="Employee" required>
                    {% for employee in employees %}
                        <option value="{{employee[0]}}">{{employee[1]}}</option>
                    {% endfor %}
                </select>
            </div>

            <button type="submit" class="flat">remove employee</button>
        </form>
    </div>
</div>

{% include 'bottom.html' %}

